body {
  background-color: #FFFFFF;
  font-family: "Type System", "Proxima Nova", "Verdana", "Roboto", "Raleway";
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 0em;
  margin-right: 0em;
}

/* Begin nav-section */
.nav-logo {
  display: flex;
  flex-wrap: wrap;
  width: 15em;
  height: 5em;
  margin-right: 5em;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  list-style: none;
  padding: 1em;
}

.nav-link {
  transition: all .3s ease-out;
  border-radius: 2;
  border-radius: 1em;
  text-decoration: none;
}

.nav-link a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}

.nav-link a:hover {
  color: rgba(103, 14, 14, 0.746);
}

/* End nav-section */

/* Begin CallToAction Component */

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15vw;  
  height: 19em;
  background-color: #495E57;
  padding: 3em; 
}

.hero-section>section>img {
  display: flex;
  width: 22em;
  height: 26em;
  border-radius: 1em;
}

.hero-section>section>button {
  width: 12em;
  height: 3em;
  border-radius: 1em;
  padding: 0.5em;
  background-color: #F4CE14;
  color: #333333;
  font-size: 13.5pt;
  border: 0em;
  font-weight: bold;
}

.hero-section>section {
  display: flex;
  flex-direction: column;
  margin: 0em;
}


.hero-section>section>h1 {
  margin-top: 0em;
  margin-bottom: 0em;
  color: #C3A510;
  font-size: 40pt;
}

.hero-section>section>h2 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #EDEFEE;
  font-size: 22pt;
  font-weight: lighter;
}

.hero-section>section>p {
  width: 14em;
  font-size: 14pt;
  color: #EDEFEE;
}

/* End CallToAction Component */

/* Begin Specials Component */

.specials-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 8em;
}

.specials-section-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12vw;
  padding: 2em;
}

.specials-section-header>h1 {
  margin: 0em;
  color: #333333;
  font-size: 35pt;
}

.specials-section-header>button {
  width: 12em;
  height: 3em;
  border-radius: 1em;
  padding: 0.5em;
  background-color: #F4CE14;
  color: #333333;
  font-size: 13.5pt;
  border: 0em;
  font-weight: bold;
}


/* Begin Card section of specials */
.specials-section-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 1em;
}

.specials-section-card {
  display: flex;
  flex-direction: column;
  width: 17.5em;
  align-items: center;
  background-color: #EDEFEE;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.card-image {
  width: 17.5em;
  height: 10em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.card-header {
  display: flex;
  padding-top: 1em;
  width: 15.0em;
  justify-content: space-between;
  color: #333333;
  font-size: 12.5pt; 
  font-weight: bold;  
}

#card-header-price {
  color: #EE946B;
}

#card-description {
  width: 15em;
  height: 8em;
}

.card-footer {
  display: flex;
  align-self: flex-start;
  gap: 1em;
  color: #333333;
  font-size: 12.5pt;
  border: 0em;
  font-weight: bold;
  padding-bottom: 1em;
  padding-left: 1em;
}

/* End Specials Component */


.info-section {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  padding: 1em;
  margin-top: 1em;
}

.info-section>p {
  text-align: center;
}

.info-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 225, 213);
  border-radius: 0.2em;
  padding: 1em;
}

.info-section-item img {
  width: 16em;
  height: 12em;
}

.footer-section {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.footer-section>div {
  flex: 1;
}

.footer-section p {
  border-top: 0.2em solid salmon;
  text-align: end;
  padding: 0.5em;
}

.footer-img {
  height: 7em;
  width: 4em;
  padding-left: 2em;
}


/*Begin media hero-section */

@media (max-width: 400px) {
  .hero-section {
    display: flex;
    padding-top: 5em;
    padding-bottom: 5em;
    flex-direction: column;
    align-content: center;
    gap: 2vw;
  }
}

@media (max-width: 838px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 5em;
    height: 42em;
    gap: 2vw;
  }
}

/* @media (min-width: 838px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;

  }
} */

/* End media hero-section */

@media (min-width: 400px) {
  .info-section-item {
    width: 100%;
    align-self: center;

  }
}

@media (min-width: 838px) {
  .info-section-item {
    width: 60%;
    align-self: center;

  }
}

@media (min-width: 1326px) {
  .info-section-item {
    width: 30%;
  }
}